.create-feed {
  /* background: red; */
  margin: auto;
  width: 100%;
  margin-bottom: 10rem;
  /* padding: 1rem; */
}
.create-feed form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create-feed form .title-edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.create-feed form input {
  display: flex;
  width: 90%;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  outline: none;
  border: 1px solid green;
}
.create-feed form .file-upload {
  display: flex;
  width: 90%;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  outline: none;
  background: rgb(255, 255, 255);
  border: 1px solid green;
}
.create-feed form textarea {
  display: flex;
  width: 90%;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  height: 15rem;
  outline: none;
  border: 1px solid green;
}
.create-feed form .form-group {
  display: flex;
  width: 100%;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
.create-feed form .form-group select {
  display: flex;
  width: 100%;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
}
.create-feed form button {
  display: flex;
  width: 100%;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
  background: white;
  color: green;
  font-size: 26px;
  font-weight: bolder;
}
