/* .Products .grid-container {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.2rem;
}

.Products .grid-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 2px;
}

.Products .grid-item img {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 14px;
  background: black;
}

.Products h3,
.Products p {
  text-align: center;
}

@media screen and (max-width: 325px) {
  .Products h3,
  .Products p {
    text-align: center;
  }
} */

.Products .edit {
  background: white;
  color: black;
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid gray;
}
.Products .delete {
  background: white;
  color: rgb(183, 28, 28);
  padding: 0.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(138, 39, 39);
}
